.keg{
  display:grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 8vw 14vw 6vw;
  border:1px solid black;
  text-align:center;
  padding:10px;
}



#sell{
  grid-area: 3 / 2 / 4 / 3;
}

.keg-name{
  grid-area: 1 / 1 / 2 / 3;
  display:flex;
  align-items:center;
  justify-content: space-around;
  padding: 10px;
}

.drink-type{
  position: relative;
}

.drink-type p{
  position:absolute;
  left:50%;
  top:50%;
  transform:translate(-50%,-50%);
  background-color:white;
  padding:5px;
  border-radius:5px;;
  margin:0;
}

.content{
  grid-area: 2 / 2 / 3 / 3;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#edit-content {
  flex-direction: column;
}

#edit-content p {
  padding: 0;
  margin: 0;
}

#edit-content h3 {
  padding: 0;
  margin-bottom: 3px;
}

#kegFillArea {
  grid-area:2 / 1 / 4 / 1;
  width: 20px;
  height: 90%;
  border: 2px solid black;
  position: relative;
}

#kegFill {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.new-keg {
  background-color: teal;
  height: 100%;
}

.full-keg {
  background-color: green;
  height: 80%;
}

.med-keg {
  background-color: orange;
  height: 50%;
}

.low-keg {
  background-color: red;
  height: 10%;
}

img {
  margin: 20% 0;
  height: 80px;
  width: 120px;
}

#sell {
  margin: auto;
  height: 40px;
  width: 100px;
  border-radius: 10px;
  background-color: #b1d1ca;
}
